@{
    Layout = "~/MasterPage/_Layout.cshtml";
    Page.Title = "Personal Protective Equipment Management System";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
<div id="sliderFrame">
        <div id="ribbon"></div>
        <div id="slider">
            <a href="~/Default">
                <img src="images/1.jpg" alt="Welcome to PPE" />
            </a>
            <a href="~/Default">
                <img src="images/2.png" alt="Welcome to PPE" />
            </a>
            <a href="~/Default">
                <img src="images/3.jpg" alt="Welcome to PPE" />
            </a>
        </div>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
</div>

    </body>
</html>
