@{
    Layout = "~/MasterPage/_Layout.cshtml";
    Page.Title = "Standard PPE";    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h3>Standard PPE</h3>
        <table border="1">
                       
        <tr>
        <td>
        1. Pelindung Kepala
        </td>
        <td>
        a. Hanya topi pengaman yang telah disetujui oleh Departemen K3 dan memenuhi standar ANSI yang boleh dipakai di tempat kerja.<br>
        b. Topi pengaman harus dipakai di area yang memiliki tanda yang mewajibkan pemakaian topi pengaman, kecuali ditentukan lain sebagaimana yang disetujui oleh Manajer Departemen.<br>
        c. Topi pengaman tidak boleh dilubangi, dicat atau dilakukan modifikasi lainnya.<br>
        d. Penutup rambut yang sesuai harus dipakai di area yang mengandung bahaya dimana rambut panjang dapat terlilit ke dalam komponen mesin atau terkena api.<br>
        e. Setiap karyawan memiliki topi pengaman sendiri-sendiri yang diberi tanda yang menunjukkan nama dan nomor karyawan masing-masing. <br>
        f. Sebagai tambahan untuk standar ini, prosedur topi pengaman di tambang bawah tanah (memiliki tempat pemasangan lampu kepala, reflektor minimum dan sebagainya) harus dipenuhi ketika memasuki tambang bawah tanah. <br>
        </td>
        </tr>
        <tr>
        <td>
        2. Pelindung Mata dan Muka
        </td>
        <td>
        a. Semua kaca mata keselamatan (safety glasses) harus sesuai dengan standar yang relevan (ANSI) dan dilengkapi pelindung samping (side shields).<br>
        b. Kacamata keselamatan atau alat pelindung mata lainnya yang sesuai harus selalu dipakai oleh semua karyawan di tempat-tempat yang diharuskan, kecuali ditentukan lain oleh Kepala Departemen atau di dalam kendaraan tertutup.<br>
        c. Selain di tempat yang telah diwajibkan, kacamata keselamatan atau alat pelindung mata lainnya yang sesuai harus dipakai di tempat-tempat sebagai berikut.<br>
            &nbsp;-Ketika melakukan aktivitas yang menyebabkan adanya benda melayang atau menimbulkan debu.<br>
            &nbsp;-Ketika menangani bahan-bahan kimia berbahaya.<br>
            &nbsp;-Ketika mengerjakan tugas yang dinyatakan memiliki bahaya untuk mata.<br>
        d. Pelindung tambahan untuk mata dan muka harus dipakai bilamana kacamata keselamatan yang standar tidak cukup memberikan perlindungan. Pelindung tambahan ini termasuk goggles, pelindung muka (face shield ) dan pelindung pengelasan (welding shield).<br>
        e. Karyawan yang memiliki kelainan penglihatan, harus memakai kacamata keselamatan yang dikeluarkan oleh dokter, yang disediakan perusahaan, bila perlu. <br>
        </td>
        </tr>
        <tr>
        <td>
        3. Pelindung Kaki
        </td>
        <td>
        a. Hanya sepatu keselamatan yang sesuai dengan standar ANSI yang boleh digunakan. <br>
        b. Sepatu keselamatan yang tepat harus dipakai setiap saat di area pabrik workshop, operasi mil dan area pertambangan. <br>
        c. Semua pengunjung yang memasuki area di mana sepatu keselamatan diwajibkan harus memakai sepatu keselamatan.<br>
        </td>
        </tr>
        
        <tr>
        <td>
        4. Pakaian Pelindung
        </td>
        <td>
        a. Pakaian pelindung dengan tujuan untuk meminimalisasi paparan terhadap bahaya  harus disediakan oleh perusahaan.<br>
        b. Peralatan pelindung dan pakaian pelindung harus dirawat dengan baik oleh karyawan.<br>
        </td>
        </tr>

        <tr>
        <td>
        5. Pelindung Pernapasan
        </td>
        <td>
        a. Hanya respirator, filter gas dan uap yang disetujui oleh Departemen Safety yang boleh dipakai untuk jenis pekerjaan tertentu di area tertentu pula.<br>
        b. Semua pelatihan penggunaan respirator dan kesesuaian penggunaan respirator dengan pemakainya harus didasarkan pada Kebijakan PTFI # 04-96. <br>
        c. Non-disposable respirator harus dibersihkan setiap kali dipakai. Filter harus ditempatkan di kantong plastik dan disimpan di tempat yang bersih dan kering.  <br>
        d. Respirator harus dipakai kapanpun di area-area yang telah ditentukan dimana gas atau uap berbahaya atau beracun tidak dapat dihilangkan dengan ventilasi.<br>
        e. Respirator tidak boleh dikenakan diatas cambang atau rambut muka lainnya yang bisa mengakibatkan kurang rapatnya sumbatan terhadap udara sekitar.<br>
        f. Hanya self-contained breathing apparatus yang disetujui oleh NIOSH/MSHA yang boleh dikenakan di lingkungan udara yang kurang tepat untuk penggunaan respirator.<br>
        g. Tipe atau ukuran self-contained breathing apparatus tidak boleh diperkenalkan penggunaannya tanpa persyaratan pengesahan dari Manajer Safety.<br>
        h. Setiap self-contained breathing apparatus harus diberi nomor satu persatu.<br>
        i. Setelah selesai menggunakan, self-contained breathing apparatus harus diperiksa dan diisi ulang oleh orang terpilih di Departemen Pemadam Kebakaran.<br>
        j. Self-contained breathing apparatus harus diinspeksi setiap tiga bulan sekali dan hasilnya dicatat dalam register tri-wulanan.<br>
        k. Peralatan pelindung pernapasan tidak boleh dipakai diatas cambang.<br>
        l. Standar pertolongan diri (Self-rescuer standards) dikhususkan dalam elemen pertambangan underground.<br>

        </td>
        </tr>

        <tr>
        <td>
        6. Pelindung Pendengaran
        </td>
        <td>
        a. Survey kebisingan yang dilaksanakan oleh Group Kesehatan Industri PTFI akan diadakan di area-area dimana paparan terhadap karyawan telah teridentifikasi.<br>
        b. Level kebisingan yang melebihi 85 dBA harus dikendalikan oleh kontrol engineering atau administratif   jika memungkinkan. <br>
        c. Perlindungan pendengaran individu akan diterapkan apabila kontrol engineering atau administratif tidak memungkinkan. <br>
        d. Tanda-tanda peringatan harus ditempatkan di sekitar perimeter di semua area yang memiliki level kebisingan 85  dBA atau lebih  untuk mengindikasikan bahwa perlindungan pendengaran disyaratkan bagi semua personil di area tersebut.<br>
        e. Pengawasan terhadap paparan kebisingan kerja harus dilakukan terhadap masing-masing karyawan yang mungkin terpaparkan sampai pada level kebisingan TWA 85 dBA atau lebih.<br>
        f. Pengawasan harus dikaji kembali bilamana perubahan-perubahan dalam produksi, proses, peralatan, pengendalian, atau lingkungan kerja memperlihatkan adanya tanda-tanda peningkatan paparan kebisingan. <br>
        g. Karyawan yang baru direkrut dan/atau ditransfer yang akan bekerja di area Perlindungan Pendengaran harus mendapatkan tes baseline audiometri sebelum penugasan atau transfer pertamanya dan juga memperoleh tes audiometri secara tahunan setelah itu. <br>
        h. Departemen Safety akan menentukan spesifikasi perlindungan pendengaran yang tepat.<br>
        i. Karyawan  harus memperoleh kesempatan untuk memilih perlindungan pendengaran yang sesuai dari berbagai pilihan pelindung pendengaran yang disediakan oleh unit operasi.<br>
        j. Pelatihan tahunan perihal perlindungan pendengaran diwajibkan bagi semua karyawan yang terpapar pada level TWA kebisingan 85dBA atau lebih.<br>
        k. Semua catatan yang berhubungan erat dengan Program Perlindungan Pendengaran harus hanya berlaku selama 2 tahun. Rekaman tes Audiometri harus berlaku selama masa kerja karyawan.<br>

        </td>
        </tr>

        <tr>
        <td>
        7. Pelindung Jatuh
        </td>
        <td>
        a. Alat pelindung jatuh harus selalu dipakai oleh karyawan apabila resiko cedera karena jatuh tidak dapat dihilangkan.<br>
        b. Alat pelindung jatuh harus dipakai oleh karyawan yang bekerja lebih dari 2 meter di atas permukaan lantai dan berada diluar platform dan handrail pengaman. Ini juga berlaku untuk karyawan yang bekerja di ketinggian dengan man box dan platform peralatan mesin yang bergerak.<br>
        c. Alat pelindung jatuh perorangan harus diinspeksi untuk memastikan apakah terdapat keausan, kerusakan atau deteriorasi sebelum digunakan.<br>
        d. Lifeline horisontal harus dirancang, dipasang dan digunakan di bawah pengawasan orang yang ahli di bidangnya dan memiliki faktor safety 2 (dua). Lifeline harus dilindungi dari resiko putus atau tergores. <br>
        e. Rope dan strap (webbing) yang digunakan di lanyard, lifeline dan komponen-komponen kekuatan body harness dan belt harus terbuat dari bahan fiber sintetis.<br>
        f. Keadaan-keadaan yang mensyaratkan digunakannya alat pelindung jatuh dan lanyards adalah sebagai berikut:<br>
            &nbsp;-Di semua stage, float dan jenis perancah menggantung lainnya.<br>
            &nbsp;-Di perancah dengan decking atau guardrail yang tidak lengkap.<br>
            &nbsp;-Di atap yang landai.<br>
            &nbsp;-Dalam 2 (dua) meter dari pinggir lantai atau atap dimana tidak terdapat guardrail atau susuran tali kawat.<br>
            &nbsp;-Ketika melepaskan plank lantai, cover lubang, grating, dan sebagainya dari panel terakhir di lantai sementara di ketinggian.<br>
            &nbsp;-Di lokasi ketinggian 2 (dua) meter atau lebih dimana tidak terdapat alat pelindung jatuh lainnya.<br>
            &nbsp;-Ketika ada bahaya jatuh mengancam di lokasi kerja di ketinggian.<br>
            &nbsp;-Di area-area ketinggian yang terpapar oleh baja penguat yang menonjol dan tidak terlindung di bawah area kerja.<br>
            &nbsp;-Ketika terpapar oleh bahaya jatuh ke dalam peralatan yang berbahaya di bawah area kerja.<br>
        g. Peralatan pelindung jatuh, termasuk lifeline dan lanyard, yang pernah digunakan untuk mengangkat barang harus dibuang.<br>
        h. Pelatihan diberikan untuk pengenalan dan penggunaan peralatan pelindung jatuh kepada setiap karyawan jika:<br>
            &nbsp;-Terdapat bahaya jatuh yang berhubungan dengan pekerjaan.<br>
            &nbsp;-Terdapat perubahan prosedur.<br>
            &nbsp;-Terdapat perubahan peralatan pelindung jatuh.<br>
        </td>
        </tr>

        <tr>
        <td>
        8. Pelindung Tangan
        </td>
        <td>
        a. Pemberitahuan dan/atau tanda harus dipasang di tempat dimana alat pelindung tangan harus dipakai.<br>
        b. Tanggung jawab untuk menentukan jenis sarung-tangan yang sesuai untuk pekerjaan-pekerjaan khusus adalah pada masing-masing departemen.<br>
        c. Karyawan dilatih untuk menggunakan, memelihara dan merawat alat pelindung tangan dengan benar.<br>
        </td>

        </tr>

        <tr>
        <td>
        9. Kontrol Alat Pelindung Diri
        </td>
        <td>
        a. Semua alat pelindung diri (APD) harus sesuai standar yang ditetapkan.<br>
        b. Alat pelindung diri tidak boleh dibeli tanpa persetujuan dari Departemen K3, termasuk alat pelindung diri yang dibeli langsung (direct charge) oleh perusahaan privatisasi dan kontraktor.<br>
        c. Di dalam melaksanakan pekerjaannya, karyawan harus diberi pakaian pelindung dan alat pelindung diri yang sesuai dengan kebutuhan pekerjaannya.<br>
        d. Pemakai harus merawat dan bertanggungjawab atas alat pelindung diri mereka masing-masing. <br>
        e. Jika alat pelindung diri rusak sehingga tidak dapat dipakai lagi, maka harus diganti dan APD yang rusak dibuang sebagaimana mestinya.<br>
        f. Selain pengeluaran APD untuk pertama kali, APD yang rusak pada pengeluaran-pengeluaran berikutnya harus menggunakan system penggantian, yakni APD yang rusak ditukar dengan APD baru. Penggantian alat pelindung diri yang hilang atau dicuri dilakukan atas kebijakan supervisor langsung atau pemilik area. Atau, karyawan dapat dikenai biaya penggantian APD yang hilang atau dicuri tersebut. (Pengecualian adalah untuk APD yang dapat dibuang setelah dipakai)<br>

        </td>
        </tr>

        </table>
    </body>
</html>
